html {
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
    padding: 0;
    color: #333;
    margin: 0 2% 0 31%;
    overflow-x: hidden;
}

body.oldtoc {
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: #206ca7;
}

a:visited {
  color: #206ca7;
}

a:hover {
    text-decoration: underline;
    color: #239dee;
}


code {
    font-weight: bold;
    font-family: Consolas, Monaco, monospace;
    white-space: pre;
}

pre code {
  font-weight: inherit;
}

pre code.hljs {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

ol.toc {
    list-style: none;
    padding-left: 0;
}

ol.toc ol.toc {
    padding-left: 2ex;
    list-style: none;
}

emu-const {
  font-family: sans-serif;
}

emu-val {
  font-weight: bold;
}
emu-alg ol, emu-alg ol ol ol ol {
    list-style-type: decimal;
}

emu-alg ol ol, emu-alg ol ol ol ol ol {
    list-style-type: lower-alpha;
}

emu-alg ol ol ol, ol ol ol ol ol ol {
    list-style-type: lower-roman;
}

emu-eqn {
  display: block;
  margin-left: 4em;
}

emu-eqn div:first-child {
  margin-left: -2em;
}

emu-note {
    display: block;
    margin: 1em 0 1em 6em;
    color: #666;
}

emu-note span.note {
    text-transform: uppercase;
    margin-left: -6em;
    display: block;
    float: left;
}

emu-example {
  display: block;
  margin: 1em 3em;
}

emu-example figure figcaption {
  margin-top: 0.5em;
  text-align: left;
}

emu-production {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5ex;
}


emu-grammar.inline emu-production, emu-production.inline {
    display: inline;
    margin: 0;
}

emu-grammar.inline emu-production emu-rhs, emu-production.inline emu-rhs {
    display: inline;
    padding-left: 1ex;
}
emu-constraints {
    font-size: .75em;
    margin-right: 1ex;
}

emu-gann {
    margin-right: 1ex;
}

emu-gann emu-t:last-child,
emu-gann emu-nt:last-child {
    margin-right: 0;
}

emu-geq {
    margin-left: 1ex;
    font-weight: bold;
}

emu-oneof {
    font-weight: bold;
    margin-left: 1ex;
}

emu-nt {
    font-style: italic;
    white-space: nowrap;
}

emu-nt a, emu-nt a:visited {
  color: #333;
}

emu-rhs emu-nt {
    margin-right: 1ex;
}

emu-t {
    font-family: monospace;
    font-weight: bold;
}

emu-production emu-t {
    margin-right: 1ex;
}

emu-rhs {
    display: block;
    padding-left: 75px;
    text-indent: -25px;
}

emu-mods {
    font-size: .85em;
    vertical-align: sub;
    font-style: normal;
    font-weight: normal;
}

emu-params, emu-opt {
  margin-right: 1ex;
  font-family: monospace;
}

emu-params, emu-constraints {
  color: #2aa198;
}

emu-opt {
  color: #b58900;
}

emu-gprose {
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
}
h1 .secnum {
    position: absolute;
    text-align: right;
    right: 100%;
    margin-right: 1ex;
    white-space: nowrap;
}

h1 { font-size: 2.67em; }
h2 { font-size: 2em; }
h3 { font-size: 1.56em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.11em; }
h6 { font-size: 1em; }

h1 span.utils,
h2 span.utils,
h3 span.utils,
h4 span.utils,
h5 span.utils,
h6 span.utils {
  padding-left: 1em;
}

h1 span.utils span.anchor a,
h2 span.utils span.anchor a,
h3 span.utils span.anchor a,
h4 span.utils span.anchor a,
h5 span.utils span.anchor a,
h6 span.utils span.anchor a {
  color: #ccc;
  text-decoration: none;
}

h1 span.utils span.anchor a:hover,
h2 span.utils span.anchor a:hover,
h3 span.utils span.anchor a:hover,
h4 span.utils span.anchor a:hover,
h5 span.utils span.anchor a:hover,
h6 span.utils span.anchor a:hover {
  color: #333;
}

emu-intro h1, emu-clause h1, emu-annex h1 { font-size: 2em; }
emu-intro h2, emu-clause h2, emu-annex h2 { font-size: 1.56em; }
emu-intro h3, emu-clause h3, emu-annex h3 { font-size: 1.25em; }
emu-intro h4, emu-clause h4, emu-annex h4 { font-size: 1.11em; }
emu-intro h5, emu-clause h5, emu-annex h5 { font-size: 1em; }
emu-intro h6, emu-clause h6, emu-annex h6 { font-size: 0.9em; }
emu-intro emu-intro h1, emu-clause emu-clause h1, emu-annex emu-annex h1 { font-size: 1.56em; }
emu-intro emu-intro h2, emu-clause emu-clause h2, emu-annex emu-annex h2 { font-size: 1.25em; }
emu-intro emu-intro h3, emu-clause emu-clause h3, emu-annex emu-annex h3 { font-size: 1.11em; }
emu-intro emu-intro h4, emu-clause emu-clause h4, emu-annex emu-annex h4 { font-size: 1em; }
emu-intro emu-intro h5, emu-clause emu-clause h5, emu-annex emu-annex h5 { font-size: 0.9em; }
emu-intro emu-intro emu-intro h1, emu-clause emu-clause emu-clause h1, emu-annex emu-annex emu-annex h1 { font-size: 1.25em; }
emu-intro emu-intro emu-intro h2, emu-clause emu-clause emu-clause h2, emu-annex emu-annex emu-annex h2 { font-size: 1.11em; }
emu-intro emu-intro emu-intro h3, emu-clause emu-clause emu-clause h3, emu-annex emu-annex emu-annex h3 { font-size: 1em; }
emu-intro emu-intro emu-intro h4, emu-clause emu-clause emu-clause h4, emu-annex emu-annex emu-annex h4 { font-size: 0.9em; }
emu-intro emu-intro emu-intro emu-intro h1, emu-clause emu-clause emu-clause emu-clause h1, emu-annex emu-annex emu-annex emu-annex h1 { font-size: 1.11em; }
emu-intro emu-intro emu-intro emu-intro h2, emu-clause emu-clause emu-clause emu-clause h2, emu-annex emu-annex emu-annex emu-annex h2 { font-size: 1em; }
emu-intro emu-intro emu-intro emu-intro h3, emu-clause emu-clause emu-clause emu-clause h3, emu-annex emu-annex emu-annex emu-annex h3 { font-size: 0.9em; }
emu-intro emu-intro emu-intro emu-intro emu-intro h1, emu-clause emu-clause emu-clause emu-clause emu-clause h1, emu-annex emu-annex emu-annex emu-annex emu-annex h1 { font-size: 1em; }
emu-intro emu-intro emu-intro emu-intro emu-intro h2, emu-clause emu-clause emu-clause emu-clause emu-clause h2, emu-annex emu-annex emu-annex emu-annex emu-annex h2 { font-size: 0.9em; }
emu-intro emu-intro emu-intro emu-intro emu-intro emu-intro h1, emu-clause emu-clause emu-clause emu-clause emu-clause emu-clause h1, emu-annex emu-annex emu-annex emu-annex emu-annex emu-annex h1 { font-size: 0.9em }

emu-clause {
    display: block;
}

/* Figures and tables */
figure { display: block; margin: 1em 0 3em 0; }
figure object { display: block; margin: 0 auto; }
figure table.real-table { margin: 0 auto; }
figure figcaption {
    display: block;
    color: #555555;
    font-weight: bold;
    text-align: center;
}

emu-table table {
  margin: 0 auto;
}

emu-table table, table.real-table {
    border-collapse: collapse;
}

emu-table td, emu-table th, table.real-table td, table.real-table th {
    border: 1px solid black;
    padding: 0.4em;
    vertical-align: baseline;
}
emu-table th, emu-table thead td, table.real-table th {
    background-color: #eeeeee;
}

/* Note: the left content edges of table.lightweight-table >tbody >tr >td
   and div.display line up. */
table.lightweight-table {
    border-collapse: collapse;
    margin: 0 0 0 1.5em;
}
table.lightweight-table td, table.lightweight-table th {
    border: none;
    padding: 0 0.5em;
    vertical-align: baseline;
}

/* diff styles */
ins {
    background-color: #e0f8e0;
    text-decoration: none;
    border-bottom: 1px solid #396;
}

ins.block {
    display: block;
}

del {
    background-color: #fee;
}

del.block {
    display: block;
}

/* Menu Styles */
#menu-toggle {
  font-size: 2em;

  position: fixed;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  z-index: 3;
  visibility: hidden;

  background-color: #111;
  color: #B6C8E4;

  line-height: 1.5em;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;;

  cursor: pointer;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 24%;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  background-color: #111;

  transition: opacity 0.1s linear;
}

#menu.active {
  display: block;
  opacity: 1;
}

#menu-toc > ol {
  padding: 0;
}

#menu-toc > ol , #menu-toc > ol ol {
  list-style-type: none;
}

#menu-toc > ol ol {
  padding-left: 0.75em;
}

#menu-toc li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#menu-toc .item-toggle {
  display: inline-block;
  transform: rotate(-45deg) translate(-5px, -5px);
  transition: transform 0.1s ease;
  width: 1em;

  color: #555F6E;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;;

  cursor: pointer;
}

#menu-toc .item-toggle-none {
  display: inline-block;
  width: 1em;
}

#menu-toc li.active > .item-toggle {
  transform: rotate(0);
}

#menu-toc li > ol {
  display: none;
}

#menu-toc li.active > ol {
  display: block;
}

#menu-toc li > a {
  padding-left: 0.25em;
  color: #B6C8E4;
}

@media (max-width: 1366px) {
  body {
    margin: 0 0 0 150px;
  }

  #menu {
    display: none;
    padding-top: 2em;
    width: 323px;
  }

  #menu-toggle {
    visibility: visible;
  }
}

@media only screen and (max-width: 800px) {
  body {
    margin: 2em 10px 0 10px;
  }

  #menu {
    width: 100%;
  }

  h1 .secnum {
    display: inline;
    position: inherit;
    left: 0;
    right: 0;
  }

  h1 .secnum:empty {
    margin: 0; padding: 0;
  }
}
